.resume {
  margin: 2em;
  font-size: 1.1em;
}

.resume p, label{
  font-weight: bold;
  color: #712045;
}

.extras {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

span {
  font-style: italic;
}

select {
  background-color: #712045;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  /* margin: 1% 0%; */
  padding: 1rem;
  width: 70%;
}

label {
  display: block;
}

